{% extends "News/index.html" %}
{% block content %}
<div id="main_left_content">
<div class="post">
<div class="post_title">
<h1 class="left"><a href="/news/{{news1.slug}}">{{news1.titleEvent|safe}}</a>
</h1>
<div class="post_date right">
   {{news1.publish|safe}}
</div>
<div class="clearer">&nbsp;</div>
</div>
<div class="post_body">
{{news1.bodyEvent|safe}}
<div class="post_metadata">
<div class="content">
<div class="left"> Posted in <a href="#">Maecenas</a>,
tagged: <a href="#">arcu</a>, <a href="#">eget</a>,
<a href="#">pretium</a>, <a href="#">porttitor</a>
</div>
<div class="right"> <span class="comment"><a href="#">4 Comments</a></span> </div>
<div class="clearer">&nbsp;</div>
</div>
</div>
</div>
<div class="post_bottom"></div>
</div>
<div class="post">
<div class="post_title">
{% if news2 %}
<h1 class="left"> <a href="/news/{{news2.slug}}">{{news2.titleEvent|safe}}</a>
</h1>
<div class="post_date right">
   {{news2.publish|safe}}
</div>
<div class="clearer">&nbsp;</div>
</div>
<div class="post_body">
   {{news2.bodyEvent|safe}}
{% endif %}
<div class="post_metadata">
<div class="content">
<div class="left"> Posted in <a href="#">Vestibulum</a>,
tagged: <a href="#">diam</a>, <a href="#">vulputate</a>,
<a href="#">platea</a> </div>
<div class="right"> <span class="comment"><a href="#">11 Comments</a></span> </div>
<div class="clearer">&nbsp;</div>
</div>
</div>
</div>
</div>
<div class="pagenavigation">
<div class="pagenav">
<div class="left"><a href="#">« Older Entries</a></div>
<div class="right"></div>
<div class="clearer">&nbsp;</div>
</div>
<div class="pagenav_bottom"></div>
</div>
</div>
{% endblock %}